alfas/
centroids/
datasets/
patches/
repr_test/
repr_train/
models/
performance/
test_images/
test_images_cifar10/
test_images_norb/
small_norb/
mnist_example/
cifar10_example/
mnist_example2000/
cifar10_example2000/
norb_example2000/
norb_example200/
500cifar10/
500mnist/
80mnist/
build/
dist/
images/
samples/
examples/
cmd_i_ex2.py
command_line_interface.py
mnist.py
norb.py
cifar10.py
load_images.py
*.ipynb
.ipynb_checkpoints/
ModelTest.ipynb
debug.log
sample_test.py
contor.py
.ipynb_checkpoints/ModelTest-checkpoint.ipynb
